# requirements.txt

# For the bot
discord.py
pydantic-settings

# For the database
sqlalchemy[asyncio]
asyncpg
greenlet

# For data processing
pandas
thefuzz[speedup] # For fuzzy name matching

# For OCR
docstrange==1.1.8
# Note: You'll also need to install torch, etc. for docstrange GPU

matplotlib